html {
  background-color: #282c34;
}

#drum-machine {
  background-image: url("./concert-background.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  #drumpad-bank {
      width: 60vw;
      display: flex;
      flex-wrap: wrap;
    }
  
  #display {
    position: absolute;
    text-align: center;
    top: 150px;
    text-align: center;
    text-shadow: 3px 3px black;
    transition: 0.1s;
  }
}